.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

p {
    width: 150px;
}

button {
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 16px;
    max-width: 120px;

}

input[type="number"] {
    width: 100px;
    padding: 5px;
}

.display-result {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px;
    width: 210px;
    height: 50px;
    align-content: center;
}

#result {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.number-container {
    display: flex;
    flex-direction: row;
}